
.main-container{
	/*background: gray;*/
	padding:50px,30px,30px,30px;
	/*background: gray;*/
	text-align: center;


}
.heading{
	text-align: center;
	margin-top: 20px;

}
.sub-heading{
	text-align: center;
	margin-top: 50px;

}
.btn-center{
	margin-top: 50px;
}
.quote-well{
	margin-top: 30px;
	z-index: 20;
}